.about-img {
  height: 250px;
}

.certificate-img {
  height: 450px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.certificate-img:hover {
  cursor: zoom-in;
}

@media only screen and (max-width: 1600px) {
  .about-img {
    height: 200px;
  }

  .certificate-img {
    height: 350px;
  }
}
