#accrd1.accordion {
  font-family: "Verdana, Geneva, sans-serif";
  border: #4a148c 1px solid;
}
.header {
  -moz-box-shadow: 0px 0px 0px 2px #d1c4e9;
  -webkit-box-shadow: 0px 0px 0px 2px #d1c4e9;
  box-shadow: 0px 0px 0px 2px #d1c4e9;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #512da8),
    color-stop(1, #9575cd)
  );
  background: -moz-linear-gradient(top, #512da8 5%, #9575cd 100%);
  background: -webkit-linear-gradient(top, #512da8 5%, #9575cd 100%);
  background: -o-linear-gradient(top, #512da8 5%, #9575cd 100%);
  background: -ms-linear-gradient(top, #512da8 5%, #9575cd 100%);
  background: linear-gradient(to bottom, #512da8 5%, #9575cd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#512da8', endColorstr='#9575cd',GradientType=0);

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #9575cd;
  display: inline-block;
  color: #ffffff;
  /* font-family: Arial; */
  font-size: 16px;
  padding: 10px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #512da8;
  width: 100%;
}

.accordion {
  user-select: none;
}

.accordion .card-header {
  padding: 5px 5px;
  cursor: pointer;
  background: #ffffff;
}

.accordion .card-header .card-title {
  font-size: 14px;
}

#accrd1 .card .card-body {
  background-color: #59698d;
  /*   margin: 1px; */
}

.card-body .card .card-body {
  background-color: #45526e;
  /*   margin: 1px; */
}
.accordion .collapse .card-body {
  padding: 4px;
}

.card-body .card {
  margin: 2px;
}
.accordion .card-header.collapsed {
  background: #ffffff;
  color: #512da8;
}
.accordion .card-header {
  background: #512da8;
  color: white;
}

.card-body .card-header.collapsed {
  background: #e3f2fd;
}
.card-body .card-header {
  background: #7e57c2;
}

.accordion .card-header.collapsed:after {
  content: "\f107";
}

.accordion .card-header:after {
  font-family: "FontAwesome";
  content: "\f106";
  float: right;
}

.accordion .card-body {
  padding: 2px;
}
